<h1>RealTalk</h1>
<h3>Password Reset</h3>

<span>Hi
  <strong>{{username}}</strong>,
  <br />
  you requested a password reset.
</span>

<br /><br />

<a id="token" href="{{frontendUri}}/reset-password/?token={{token}}">
  Click this link to reset your password
</a>

<h3>Instructions</h3>

<ol>
  <li>Reset instructions</li>
  <li>Will be implemented later!</li>
</ol>

If this was not you, please get in touch.
<br /><br />
<span>Sincerely,
  <br />
  RealTalk
</span>