<h1>RealTalk</h1>
<h3>Verify your account</h3>

<span>Hi
  <strong>{{username}}</strong>,
  <br />
  Thank you for registering at RealTalk.
  <br />
  You must first verify this email before you can use your account.
</span>

<br /><br />

<span>Your verification token is: </span>

<pre><span id="token">{{token}}</span></pre>

<h3>Instructions</h3>

<ol>
  <li>Verification instructions</li>
  <li>Will be implemented later!</li>
</ol>

If this was not you, please get in touch.
<br /><br />
<span>Sincerely,
  <br />
  RealTalk
</span>